/* About.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Ensure the body can scroll */
}

.about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about-container h1, .about-container p {
  font-family: 'Mosvita', sans-serif; /* Ensure custom font is applied */
}

.about-container h1 {
  font-size: 2.5rem;
  color: black;
}

.about-container p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: black;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 20px;
  }

  .about-container h1 {
    font-size: 2rem;
  }

  .about-container p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    padding: 15px;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }

  .about-container p {
    font-size: 0.9rem;
  }
}

